<!DOCTYPE html>
<html lang="en" ng-app="ktkApp">
	<head>
		
		<meta charset="utf-8">	
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">	

		<!--TODO: Favorite-->
		<!--<link rel="shortcut icon" href="../favicon.ico">-->

		<title>Katy Lynn Knowles</title>

		<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="css/site.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<!--<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
		<link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Great+Vibes:400,700,400italic,700italic" rel="stylesheet" type="text/css">

		<link href="css/timelines.css" media="all" rel="stylesheet">	
		<link href="css/add.css" media="all" rel="stylesheet">				
		<link href="css/basic.css" rel="stylesheet">
		<link href="css/galleriffic-2.css" rel="stylesheet" type="text/css" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body id="page-top" class="index" ng-controller="ktkController">	
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#page-top">Katy Knowles</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>                    
					<li class="page-scroll">
						<a href="#about">Artist</a>
					</li>
					<li class="page-scroll">
						<a href="#educator">Educator</a>
					</li>
					<li class="page-scroll">
						<a href="#journey">Journey</a>
					</li>
					<li class="page-scroll">
						<a href="#portfolio">Portfolio</a>
					</li>
					<li class="page-scroll">
						<a href="#resume">Resume</a>
					</li>
					<li class="page-scroll">
						<a href="#Testimon">Testimonials</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
			  <div class="col-lg-6">
				<div class="overlayImg">
				  <div class="baseImg"></div>
				</div>
			  </div>
			  <div class="col-lg-5">
				<div class="row">
					<div class="intro-text">
					  <hr class="star-light">
					  <span class="skills">theatre educator director choreographer</span>
					</div>
				</div>																
			  </div>
			  <div class="col-lg-1"></div>
			</div>
			<div class="row floater">
				<div class="page-scroll">
					<ul class="list-inline">
						<li>
							<a href="http://katy-knowles.tumblr.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
						</li>
						<li>
							<a href="http://instagram.com/katyknowles/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
						</li>
						<li>
							<a href="#contact" class="btn-social btn-outline"><i class="fa fa-fw fa-phone-square"></i></a>
						</li>								
					</ul>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section class="about" id="about">
		<div class="container">
			<div class="row">				
				<div class="col-md-12">
					<p class="text-center">
					<img style="max-width: 100%; height:auto;" src="img/site/artist/Final.png"/>
					</p>
				</div>				
			</div>
			
			<!--<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Artistic Core Values</h3>
				</div>
			</div>-->
			
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Artistic Core Values</h3>
					<hr class="star-light">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-1"></div>			
				<div class="col-md-5">
					<p class="text-justify small">                    
					<ul>
					  <li>I utilize collaboration, communication and organization skills during the rehearsal process as well as examine rehearsal techniques in order to determine what is effective and successful as a director</li>
					  <li>I research and question playwrights, scripts, and human behavior to develop a process for approaching the material and characters in an honest and inquisitive fashion</li>
					  <li>I use images and quotations as a major research component to communicate with actors and designers when working on productions</li>
					  <li>I go on a collaborative journey with my actors in a safe and honest environment by utilizing a broad range of techniques and strategies in character analysis and development in order to help the actors make strong personal connections to the characters they are portraying</li>
					  <li>I believe the journey and process is just as IMPORTANT as the final product</li>
					</ul>
					</p>
				</div>
				<div class="col-md-5">				  
				  <p class="text-justify small">                    
					<ul>
					  <li>I provide thought provoking, constructive critique to my performers in an honest and positive fashion allowing them an opportunity to reflect, evolve and grow during the rehearsal process</li>
					  <li>I create a safe and positive rehearsal environment, which allows performers and designers to explore, discover, collaborate, question, and work outside their comfort zones</li>
					  <li>I encourage my actors to think independently, to make bold choices with fearless attitudes and to take risks</li>
					  <li>I lead with a clear objective and agenda to maintain an organized, sane, and focused production process where empowerment and collaboration are encouraged</li>
					  <li>I produce engaging pieces of theatre that will ask audience members to question, reflect, and communicate about their past, present, and future by exposing them to uncensored snapshots of life and the world in which we live</li>
					</ul>
					</p>
				</div>
				<div class="col-md-1"></div>                
			</div>
		</div>
	</section>
	<!-- About Section -->
	
	<!-- Educator Section -->
	<section class="educator" id="educator">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Teaching Philosophy</h3>
					<hr class="star-light">
				</div>
			</div>
			
			<!--<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">					
				</div>
				<div class="col-md-1"></div>
			</div>-->
			<div class="row">                
				<div class="col-md-1"></div>
				<div class="col-md-10">
					
				  <!--<h3 class="text-center">Teaching Philosophy</h3>-->
				  <p class="text-justify small">                    
					I am a strong advocate for providing students with an opportunity to achieve success in the performing arts by presenting students with a freedom to explore their own sense of self, their cultures, and the world in which they live. My mission is to enrich students’ lives through performance and theatre education with challenging learning activities that engage students’ minds, hearts, and bodies so that students will learn to appreciate and understand the role and influence of the performing arts on culture and society. Through their enrichment students will attain higher levels of academic achievement, gain self-esteem, and obtain higher levels of empathy and tolerance for others. This can only be achieved by providing students with a safe and creative environment where students can celebrate their differences by integrating academics, performance, and life into preparation to become responsible citizens in our 21st century pluralistic society.
				  </p>
				</div>
				<div class="col-md-1"></div>				
			</div>
			<br/><br/>
			<div class="row border-up1">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-10">
					<div class="container">
						<div class="row">							
							<div class="col-md-3"></div>
							<div class="col-md-4"></div>
							<div class="col-md-3"></div>							
						</div>
						<div class="row">
							<div class="col-md-3">
								<img src="img/Site/educator/Educator 3.jpg"></img>
								<br/>
								<br/>
								<img src="img/Site/educator/Educator 4.jpg"></img>
							</div>
							<div class="col-md-4">
								<h5 class="text-center">Artistic Inspirations</h5>
								<p class="text-center" style="font-size:15px;">
									Neil LaBute<br/>
									Cole Porter<br/>
									Constantin Stanislavski<br/>
									Bob Fosse<br/>
									Anne Bogart<br/>
									Jason Robert Brown<br/>
									Jerome Robbins<br/>
									Sanford Meisner<br/>
									Gregory Hines<br/>
								</p>
							</div>
							<div class="col-md-3 text-center" style="vertical-align: middle; display: inline-block; height: 100%;">								
								<img style="display: inline-block; height: 100%;" src="img/Site/educator/Educator 6.jpg"></img>								
							</div>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-4"></div>
							<div class="col-md-3"></div>
						</div>
					</div>
				</div>
				<!--<div class="col-md-1">&nbsp;</div>-->
			</div>
		</div>
	</section>
	<!-- Educator Section -->

		<!--Artistic Journey Timeline -->
	<section id="journey" class="journey">
		<div>
	  <p class="journey">It's not about the destination, it's about the <span class="great-vibe">Journey...</span></p>
	  <!--<img class="img-centered img-responsive" width="250" src="img/site/journey/destination.jpg" />-->
	</div>
	  <div class="timeline animated">
		<div class="timeline-row">
		  <div class="timeline-time">
			2004
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
				<img class="img-responsive" width="70" src="img/site/journey/amda_350_01.jpg" />
				<p>
					<b class="text-uppercase">American Musical & Dramatic Academy</b>
					<br/>
					<span class="text-uppercase">Musical Theatre Integrated Program</span>
				</p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2005-2008
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
						<img class="img-responsive" width="70" src="img/site/journey/fsoa-01.jpg" />
				<b class="text-uppercase">Florida School of the Arts</b>
				<br/>
				<span class="text-uppercase">Associates in Science in Musical Theatre</span>
				<br/>
				<span class="text-uppercase">Associates in Arts</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2007
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info"> <!--bg-primary-->
				<!--<i class="fa fa-pencil"></i>-->
				<i class="fa"></i>              
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">The Kennedy Center: Irene Ryan Nomination</b>
				<br/>
				<span class="text-uppercase">Barefoot in the Park - Mother</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2008
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-pencil"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">Florida School of the Arts</b>
				<br/>
				 <span class="text-uppercase">Performing Artist of the Year Award</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2008
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-pencil"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">International Thespian Society</b>
				<br/>
				 <span class="text-uppercase">District Six Musical Theatre Adjudicator</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2008-2009
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/Asolo Rep.gif" />
				<b class="text-uppercase">Asolo Repertory Theatre</b>
				<br/>
				<span class="text-uppercase">Stage Management Intern</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2009
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-pencil"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">Florida Theatre Conference</b>
				<br/>
				 <span class="text-uppercase">Theatre For Youth Adjudicator</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2009
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-pencil"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">Equity Membership Candidacy Program</b>
				<br/>
				 <span class="text-uppercase">Card holder</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2009-2010
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/lrhs.png" />
				<b class="text-uppercase">Lakewood Ranch High School</b>
				<br/>
				<span class="text-uppercase">Musical Theatre Artist in Residency</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2010
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-pencil"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<b class="text-uppercase">International Thespian Society</b>
				<br/>
				 <span class="text-uppercase">District Six Musical Theatre Adjudicator</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2010-2011
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/gb_coll_01.jpg" />
				<b class="text-uppercase">Greensboro College</b>
				<br/>
				<span class="text-uppercase">Bachelor of Arts in Acting</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2011
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/gc_perf_arts_01.jpg" />
				<b class="text-uppercase">Greensboro Performing Arts</b>
				<br/>
				<span class="text-uppercase">Director / Choreographer Teaching Artist</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2011-2013
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/Man_HS_01.jpg" />
				<b class="text-uppercase">Manatee High School</b>
				<br/>
				<span class="text-uppercase">Theatre and Dance Director</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2011-2013
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/davis_01.jpg" />
				<b class="text-uppercase">Davis Center for the Performing Arts</b>
				<br/>
				 <span class="text-uppercase">Theatre Manager</span>
			  </p>
			</div>
		  </div>
		</div>
		<div class="timeline-row">
		  <div class="timeline-time">
			2013-Present
		  </div>
		  <div class="timeline-icon">
			<div class="bg-info">
			  <!--<i class="fa fa-camera"></i>-->
			  <i class="fa"></i>
			</div>
		  </div>
		  <div class="panel timeline-content">
			<div class="panel-body">
			  <p>
				<img class="img-responsive" width="70" src="img/site/journey/nyu_logo_01.jpg" />
				<b class="text-uppercase">New York University</b>
				<br/>
				 <span class="text-uppercase">Master of Arts</span>
				 <br/>
				 <span class="text-uppercase">Educational Theatre - Colleges & Communities</span>
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!--Artistic Journey Timeline -->

	<!--Portfolio Section-->
	<section id="portfolio" class="portfolio">		
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Portfolio</h3>
					<hr class="star-light">
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" ng-click="ShowPortfolioProject(0)" class="portfolio-link vertical-align" data-toggle="modal">																			
						<span class="portfolio-caption">Behind<br/>Closed<br/>Doors</span>
					</a>
				</div>			
				<div class="col-sm-2 portfolio-item">
					<a href="#" ng-click="ShowPortfolioProject(1)" class="portfolio-link vertical-align" data-toggle="modal">                        
						<span class="portfolio-caption">The<br/>Wedding<br/>Singer</span>                            
					</a>
				</div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" ng-click="ShowPortfolioProject(2)" class="portfolio-link vertical-align" data-toggle="modal">                        
						<span class="portfolio-caption">Broadway<br/>Musical<br/>Revue</span>
					</a>
				</div>				             
				<div class="col-sm-3"></div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" ng-click="ShowPortfolioProject(3)" class="portfolio-link vertical-align" data-toggle="modal">
						<span class="portfolio-caption">Drowsy<br/>Chaperone</span>
					</a>
				</div>
				<div class="col-sm-2 portfolio-item">
					<a href="#" ng-click="ShowPortfolioProject(4)" class="portfolio-link vertical-align" data-toggle="modal"> 
						<span class="portfolio-caption">Seussical<br/>Jr.</span>					
					</a>
				</div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" ng-click="ShowPortfolioProject(5)" class="portfolio-link vertical-align" data-toggle="modal">    
						<span class="portfolio-caption">Wonderful<br/>Town</span>
					</a>
				</div>				            
				<div class="col-sm-3"></div>
			</div>
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" ng-click="ShowPortfolioProject(6)" class="portfolio-link vertical-align" data-toggle="modal">       
						<span class="portfolio-caption">Anything<br/>goes</span>					
					</a>
				</div>
				<div class="col-sm-2 portfolio-item">
					<a href="#" ng-click="ShowPortfolioProject(7)" class="portfolio-link vertical-align" data-toggle="modal">     
						<span class="portfolio-caption">Acting Up<br/>Camp<br/>Jr. Shows</span>					
					</a>
				</div>
				<div class="col-sm-2 portfolio-item">					
					<a href="#" class="portfolio-link vertical-align" data-toggle="modal" data-target="#portfolioModal2">
						<span class="portfolio-caption">Director /<br/>Choreographer<br/>Video Reel</span>					
					</a>
				</div>				             
				<div class="col-sm-3"></div>
			</div>
		</div>
	</section>

	<!-- resume Grid Section -->
	<section id="resume" class="resume">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Resumé</h3>
					<hr class="star-light">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-4 resume-item">
					<a href="assets/K.Knowles Artistic Resume.pdf" target="_blank" class="resume-link">                    
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="img/site/resume/dir_choreo.png" class="img-responsive" alt="">
					</a>
				</div>
				<div class="col-sm-4 resume-item">
				<a href="assets/K.Knowles CV-OFFICIAL.pdf" target="_blank" class="resume-link">                    
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="img/site/resume/cv.png" class="img-responsive" alt="">
					</a>
				</div>
				<div class="col-sm-2"></div>
			</div>			
		</div>
	</section>

	<!--Testimonial Section-->
	<section class="Testimonials" id="Testimon">
	  <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center testimonial">Testimonials</h3>
				<hr class="star-light">
			</div>
		</div>			
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">				
				<blockquote>
					<p>I have experience with Katy Knowles as a performer, a teacher, a director and a friend. I admire the way Katy approaches every goal with enthusiasm and intensity. As a performer, she easy to direct and always goes full out with great 
					insight to what you are trying to achieve. The teacher in Katy not only relates well to students of any age in any situation but Katy maintains her own ability to be that life long learner herself. When working on any show or project with Katy, as 
					a friend, I can count on her to ALWAYS go the extra mile be it 9 to 5 or 2:00 AM if necessary! Katy Knowles is fantastic energy and fortitude in the theater and beyond!</p>			
					<footer class="blockquote-footer">Patricia Ross, Teacher/ Director/Choreographer, Manatee School For the Arts</footer>	
				</blockquote>
				<blockquote class="blockquote-reverse">
					<p>It has been a distinct pleasure to work with Katy Knowles while she studied here at Florida School of the Arts. Her dedication, understanding and mastery of the art form was a welcomed addition to our program. I remain honored to 
					be counted among her extensive and varied network of theatre educators and professionals.</p>			
					<footer class="blockquote-footer">Edward T. Kelly, Theatre Professor, Florida School of the Arts</footer>	
				</blockquote>
				<blockquote>
					<p>She is a positive force to the entire faculty, staff, student body and community. As an employee she is extremely hard working and dedicated, and takes initiative to go above and beyond her job duties. As a person, Katy is an artistic 
					perfectionist and sets extremely high standards for both herself and her students. She is a master of instructional design and lesson planning, delivery and facilitation of the lesson, and student engagement and self-reflection. 
					The talent that Ms. Knowles has developed in our students is exceptional and can rival that of professional talent. She is a positive role model for students and is well respected amongst her colleagues.</p>			
					<footer class="blockquote-footer">Melissa Gagnon, Assistant Principal, Braden River High School</footer>	
				</blockquote>
				<blockquote class="blockquote-reverse">
					<p>While working at the Asolo Katy was the assistant stage manager for four productions. Katy always displayed a high degree of organization, responsibility, and ambition. She is a clear and effective communicator, has a very positive 
					attitude and is a natural leader. With very little formal stage management training Katy was able to create suburb paperwork, run entire understudy rehearsals with very little direction and manage an IATSE crew twice her age.</p>			
					<footer class="blockquote-footer">Kelly Borgia, Resident Production Stage Manager, Asolo Repertory Theatre</footer>	
				</blockquote>
				<blockquote>
					<p>Working with Katy Knowles on Behind Closed Doors was such a blessing! She really pushed us as actors to explore every facet of our characters psyche and conflicts, which helped us create a collectively powerful performance as a cast.</p>
					<footer class="blockquote-footer">Mary Ashley, Actor</footer>	
				</blockquote>
				<blockquote class="blockquote-reverse">
					<p>Before high school I had never been a part of any theatre production or dance class in my entire life, however, my freshman year, I  began working with Ms. Katy Knowles and since then have learned so much from her; anything from tap dancing to technical theatre. Now, I plan on majoring in theatre, realizing that I will use many of the skills I have learned from her for the rest for my life. Ms. Knowles has extensive knowledge in all areas, but is successful in guiding students of all abilities through the learning process. Her passion for the arts has inspired me and continues to inspire everyone else she works with.</p>
					<footer class="blockquote-footer">Kylee Risdon, High School Student</footer>
				</blockquote>
			</div>
			<div class="col-lg-1"></div>			
		</div>        
	  </div>
	</section>
	 
	<!-- Footer -->
	<footer id="contact" class="contact page-footer text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<img src="img/Site/footer/footerImg.png" style="max-width:75%; height:auto;" alt="footerImg" />
					</div>
					<div class="footer-col col-md-8">
						<hr class="star-light"/>
						<h2>Katy Lynn Knowles</h2>						
						<h4>katyknowles@hotmail.com</h4>
						<h4>(941)-447-4521</h4> 
						<ul class="list-inline">
							<li>
								<a href="http://katy-knowles.tumblr.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
							</li>
							<li>
								<a href="http://instagram.com/katyknowles/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
							</li>							
						</ul>
					</div>					
				</div>				
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; 2014 <a href="http://ktk.cillao.com">Katy Lynn Knowles</a>						
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-top page-scroll visible-xs visble-sm">
		<a class="btn btn-primary" href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!-- Start portfolio modal -->
	<div class="portfolio-modal modal fade noscript" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div id="page">
				<div id="container">
					<h2>{{Project.projName}}</h2>
					<h3>{{Project.projDesc}}</h3>

					<!-- Start Advanced Gallery Html Containers -->
					<div id="gallery" class="content">
						<div id="controls" class="controls"></div>
						<div class="slideshow-container">
							<div id="loading" class="loader"></div>
							<div id="slideshow" class="slideshow"></div>
						</div>
						<div id="caption" class="caption-container"></div>
					</div>
					<div id="thumbs" class="navigation">
						<ul class="thumbs noscript">
							<li ng-repeat="thmb in Project.thumbNails">
								<a class="thumb" name="{{Project.projID}}" href="{{thmb.fileName}}" title="{{thmb.title}}">
									<img src="{{thmb.fileName}}" alt="{{thmb.title}}" />
								</a>
								<!--<div class="caption">
									<div class="download">
										<a href="{{thmb.fileName}}">Download Original</a>
									</div>
									<div class="image-title">{{thmb.title}}</div>
									<div class="image-desc">{{thmb.desc}}</div>
								</div>-->
							</li>					
						</ul>
					</div>										
					<div style="clear: both;"></div>
				</div>
			</div>					
		</div>
	</div>
	<!-- End Portfolio Modal-->

<!-- Start portfolio modal 2-->
	<div class="portfolio-modal modal fade noscript" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div>
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { margin:0 auto; width: 50%; height: 50%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/116821343' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
            </div>				
		</div>
	</div>
	<!-- End Portfolio Modal 2-->
	
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
	<script data-main="scripts/app.js" src="scripts/require.js"></script>		
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
	<!--Javascript sources -->
	<!-- jQuery Version 1.11.0 -->
	<script src="scripts/lib/jquery-1.11.0.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="scripts/lib/dynamic/controllers.js"></script>				
	<!-- Bootstrap Core JavaScript -->
	<script src="scripts/lib/bootstrap/bootstrap.min.js"></script>
	
	<!-- Contact Form JavaScript -->
    <script src="scripts/lib/site/jqBootstrapValidation.js"></script>
    <script src="scripts/lib/site/contact_me.js"></script>
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 	
    <script src="scripts/lib/site/Site.js"></script>
  	<script src="scripts/lib/site/timelines.js"></script>
	
	
	<script src="scripts/lib/Site/classie.js"></script>      
    <script src="scripts/lib/Site/cbpAnimatedHeader.js"></script>
		    	    		
	<script type="text/javascript" src="scripts/lib/galleriffic/jquery.galleriffic.js"></script>    
	<script type="text/javascript" src="scripts/lib/galleriffic/jquery.opacityrollover.js"></script>    
	<script type="text/javascript">
		document.write('<style>.noscript { display: none; }</style>');
	</script>
		    
	<!--<script type="text/javascript" src="scripts/lib/galleriffic/galleriffic_loader.js"></script>-->			
  </body>
</html>
